.dflexCorreo{
background: white;
margin-left: 90px;
border: 1px solid gray;
border-radius: 10px 10px 10px 10px;
height: 197px;
}
.dflexActos{
background-color: white;
/**display: flex;**/
border: 1px solid aqua;
border-radius: 10px 10px 10px 10px;
margin-left: 82px;
text-align: center;
color:black;
}
.modal-title{
margin-left: 55px;
}
.row{
 margin-top: 10px;
 margin-right: 0px;
}
.correo{
    margin-top: 103px;
}
.dflexFinal{
background: white;
margin-left: 48px;
border: 1px solid gray;
border-radius: 10px 10px 10px 10px;
height: 151px;
width: 1052px;
}
.col-lg-11 > button:nth-child(2) {
 margin-top: 89px;
 margin-left: -241px;
}

.col-lg-11 > button:nth-child(1) {
 margin-left: 360px;
 width: 237px;
}
.redondo1{
 border: 1px solid aqua ;
 width: 200px;
 height: 200px;
 border-radius: 100px;
 position: relative;
 z-index: 2;
 margin-bottom: -82px;
 margin-left: 41% ;
}   
#modalbdy{
    background: cadetblue;
}
#cambiarContra {
    width: 237px;
}
.cuerpo{
    background: rgb(141,139,181);
    background: linear-gradient(90deg, rgba(141,139,181,1) 0%, rgba(236,236,236,1) 47%, rgba(166,166,203,1) 98%); 
}
.btn2{
    background-color: white;
}
.contenedor{
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    margin-top:10px;
    background: steelblue;
    
} 
.hashtag{
    text-align: center; 
    margin-top: -26px;
}
.nombrePersona{
    margin-left: 70px; 
    margin-top: -35px;
}
.fotoPersona{
    width: 50px; height: 50px; 
    margin-top: 0px; 
    border-radius: 30px 30px 30px 30px; 
    border: 1px solid black
}
.down{
    background: transparent; 
    height: 30px; 
    width: 30px;
    float: right; 
    margin-top: -127px;
    margin-right: 5px;
}
.collapse{
    background: whitesmoke;
}
.tituloPublicacion{
    text-align: center;
}
.config{
    height: 50px;
    float: right;
    width: 50px;
    margin-top: 5px;
}
.option{
    margin-left: 82%;
    margin-top: 56px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    z-index: 2; width: 300px;
    position: absolute;
}
.down2{
    background: transparent;
    height: 30px;
    width: 30px;
    float: right;
    margin-top: -50px;
    margin-right: 5px;
}
.seleccionado{
    margin-top: -51px;
    float: right;
}

   
       